<style>
       p {
        font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
    .price{
        font-size: 40px;
        margin-bottom: 4px;

       
        
    }
    .us{
        margin-left: 3px;
        font-weight: lighter;
        color: grey;
        font-size: 20px;
    }
    .prfit{
        color:green;
        margin-bottom: 4px;
        font-size: 20px;


    }
    .after-hours{
        color: grey;
        margin-top: 4px;
        padding-top: 5px;
        
    }
    .after-hours-change{
        color:red;
    }
</style>